<div class="well wellmore">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# general errors of the form #}
  {{ form_errors(form) }}


  {# the same thing for an another field #}
  <div class="form-group">
    {{ form_label(form.message, "Votre message", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.message) }}
    <div class="col-sm-10">

      {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
  
    </div>
     
  </div>
   <div class="text-center" style="padding: 5px;">

      {{ form_widget(form.save,{'attr': {'class': 'btn btn-success'}, 'label': 'Enregistrer'}) }}

      </div>

  
  {# we just display the widget for the button #}


  {# auto generating of the fields wich are not read again.
     In this example, the field CSRF will be generate automatically
     and all hidden fields (type « hidden »). #}
  {{ form_rest(form) }}

  {# close the mark <form> of  HTML formulaire #}
  {{ form_end(form) }}