{% extends "OCSTBundle:Trick:layout.html.twig "%}


{% block nav %}
   <li><a href="{{ path('ocst_homepage') }}"><span class="glyphicon glyphicon-share-alt"></span> Retour à l'accueil </a></li>
   <li><a href="#"><span class="glyphicon glyphicon-user"></span> Bonjour, {{app.user.username}}</a></li>
    <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off"></span> Déconnexion</a></li>
{% endblock %}

{% block body %}
<div class="header-content-inner text-center">
            <div class="col-xs-12 tricktitle" ><h3 class="text-center">Supprimmer un Trick</h3>
      </div>
     <div style="margin-top: 30px;"> 
     <p>Etes vous sure de vouloir supprimer l'annonce <b>{{trick.name}}</b> ?</p>
     <form method="post" >
     	<input type="submit" value="Supprimer" class="btn btn-danger"> 
     	{{form_rest(form)}}
     </form>
    </div> 
</div>
{% endblock %}
