{% extends "OCSTBundle:Trick:layout.html.twig "%}

{% block navbis %}


           <li><a href="#tricks"><span class="glyphicon glyphicon-sunglasses"></span> Les Tricks</a></li>
      <li><a href="#addTrick"><span class="glyphicon glyphicon-tree-conifer"></span> Ajouter un Trick ?</a></li>

{% endblock %}

{% block body %}
    <div class="well" id="p1">
    <h1 class="text-center">Bienvenue sur SNOWTRICKMANIA.COM</h1>
    <hr>
    <div class="row">
    
    <h3 class="text-center">SnowTrickMania est consacré à l'art du Snowboard et ses Tricks aussi bien pour les passionnés que les néophytes dans le domaine.</h3>

    <div class="col-md-12 text-center"> 	
    <a href="#" class="btn btn-primary  text-center btn-lg btn-success" >Voir les Tricks</a>
    </div> 

    </div>
</div>



<div class="well ">
	{% for message in app.session.flashbag.get('info') %}
        <p class="text-center text-primary">  {{message}}</p>
	{% endfor %}
</div>
<h3 class="text-center">Choissiez une catégorie </h3>
<ul class="list-inline text-center">
  {% for category in listCategories %}
  <li class="list-inline-item"><a href="{{path('ocst_trick_category', {'category':category.name})}}" ><button class="btn-primary"> {{category.name}}</button></a></li>

  {% endfor %}
</ul>

<p style="margin-top:84px;">
<h3 class="text-center" >Voici la liste de tout les Tricks entretenues par la communautée</h3>
<hr>
</p>

 <section id="tricks">
 <div class="row">
  {% for trick in listTricks %}
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="{{path('ocst_trick_view', {'id':trick.id})}}">

        <img src="{{ asset(trick.image.webPath) }}" alt="{{trick.image.alt}}" style="width:100%">
        <div class="caption text-center">
          <p>{{trick.name}}</p>
        </div>
      <div class="tricks-options text-center">

         <br/>
         <br/>
         {% if is_granted('ROLE_USER') %}
         <a href="{{path('ocst_trick_edit', {'id':trick.id})}}">
         <span class="glyphicon glyphicon-pencil"></span>
         </a>
                                       
                                       &nbsp;&nbsp;
                                       
         <a href="{{path('ocst_trick_delete', {'id':trick.id})}}">
         <span class="glyphicon glyphicon-trash" ></span>
        </a>
        {% endif %}
            
        </div>
      </a>
     
    </div>
  </div>
  {% endfor %}
  
</div>
</section>
 <div class="text-center">
 <ul class="pagination">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
  {% for p in range(1, nbPages) %}
    <li{% if p == page %} class="active"{% endif %}>
      <a href="{{ path('ocst_homepage', {'page': p}) }}">{{ p }}</a>
    </li>
  {% endfor %}
</ul>
</div>
<section id="addTrick" class="container-fluid" >
	<div class="row" style="margin-bottom:95px;">
    
    <h3 class="text-center">Vous désirez ajouter un Trick?</h3>

    <div class="col-md-12 text-center"> 	
    {% if is_granted('ROLE_USER') %} 
    <a href="{{path('ocst_trick_add')}}" class="btn btn-primary  text-center btn-lg btn-warning" >ajouter un Trick !</a>
    {% else %}
    <a href="{{path('fos_user_security_login')}}" class="btn btn-primary  text-center btn-lg btn-success" >Pour cela merci de s'authentifier</a>
    {% endif %}
    </div> 

    </div>
</section>
{% endblock %}

